.switch {
  text-align: center;
  margin-top: 2rem;
}
.switch2 {
  margin-left: 30rem;
}

.Logo {
  margin-right: 700px;
}
.country-container {
  width: 500px;
  text-align: center;
  margin-left: 30rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.country-header {
  margin-top: -80px;
  font-size: 25px;
  margin-left: 2px;
}

.country-pg {
  margin-top: 1.5rem;
  font-size: 19px;
  padding-left: 1.5rem;
}

.country-select {
  margin-top: 1.5rem;
  text-align: left;
  margin-left: 1.75rem;
}
.country-label {
  margin-top: 1.5rem;
  width: 500px;
  height: 50px;
  padding-left: 8px;
  padding-right: 2px;
  background-color: white;
}

.account-type {
  background: white;
  margin-right: 10rem;
}

.continue-btn {
  color: #eee;
  border-radius: 2px;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 500px;
  height: 50px;
  background: #330ba6;
}
.acc-type {
  border: 2px solid #330ba6;
  width: 500px;
  height: 70px;
}

.acc-pg a {
  text-decoration: none;
  color: #330ba6;
}

/*Accountinfo styles*/
.details {
  text-align: left;
  margin-top: 3rem;
  margin-left: 35rem;
  width: 550px;
}

.details-header {
  font-size: 25px;
}

.details-pg {
  margin-top: 2.5rem;
  font-size: 19px;
}

.details-form {
  margin-top: 2rem;
}

.form-input {
  margin-top: 1rem;
  width: 500px;
  height: 50px;
  margin-bottom: 1rem;
  background: white;
}

.form-input::placeholder {
  padding-left: 1rem;
}

.bus-select,
.cac {
  margin-top: 1rem;
  width: 500px;
  height: 50px;
  padding-left: 5px;
  color: #1f1f1f;
  background: white;
}

.create-btn {
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #eee;
  background-color: #330ba6;
  border: 5px;
  width: 500px;
  height: 50px;
  font-size: 18px;
}

.details-agree {
  padding-left: 8px;
}

.details-agree a {
  text-decoration: none;
  color: #330ba6;
}
/*Verification page*/
.verify-input {
  height: 50px;
  margin: 20px;
  width: 50px;
  padding-left: 15px;
  border-radius: 5px;
  background: white;
}

.verify-container {
  margin-top: 5rem;
  width: 600px;
  margin-left: 30rem;
  text-align: left;
}

.verify-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 25px;
}
.verify-pg {
  width: 350px;
  font-size: 20px;
  margin-bottom: 1rem;
}
.verify-header-2 {
  margin-top: 5rem;
  font-size: 25px;
}

.verify-btn {
  margin-top: 2rem;
  width: 550px;
  height: 50px;
  border-radius: 2px;
  background: #330ba6;
  color: #eee;
  margin-left: -30px;
}

.pg-ver {
  margin-top: 1rem;
  margin-left: 8rem;
  font-size: 15px;
}
.pg-ver a {
  text-decoration: none;
  color: #330ba6;
}
