/* Default styles for larger screens */
.login-page {
  display: flex;
  height: 100vh;
  background-color: white;
}

.image-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #e3def7;
  width: 550px;
}

.image-half img {
  width: 330px;
  height: 420px;
  /* object-fit: cover; */
}

.form-half {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 6rem;
  margin-left: 6rem;
  text-align: left;
}

.form-button {
  width: 550px;
  height: 50px;
  background: var(--theme-color);
  color: #eee;
  border-radius: 3px;
  margin-top: 2rem;
}

.login-button {
  width: 550px;
  height: 50px;
  background: var(--theme-color);
  color: #eee;
  border-radius: 3px;
  margin-top: 2rem;
}
.remindme-label {
  padding-left: 8px;
}
.form-options {
  display: flex;
  justify-content: space-between;
}
.form-options a {
  margin-left: 7.5rem;
  text-decoration: none;
  color: black; /* Push "Forgot Password?" to the right */
}

.form-options div {
  flex: 1; /* Make each div take equal width */
}

.no-account {
  margin-left: 8rem;
  padding-top: 1rem;
}

.no-account a {
  text-decoration: none;
}
.img-p {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.logintext {
  font-size: 25px;
  padding-bottom: 3rem;
}
.form-content {
  width: 550px;
  height: 50px;
  margin-bottom: 2rem;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 5px;
  background-color: white;
  outline: none;
  padding-left: 15px;
}

/* Media query for tablet screens */
@media screen and (max-width: 768px) {
  .login-page {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .image-half,
  .form-half {
    width: 100%; /* Full width for smaller screens */
    margin: 0; /* Remove margin for smaller screens */
  }

  .image-half img {
    width: 100%; /* Make the image fill the container width */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove margin for smaller screens */
  }

  .form-half {
    padding: 20px;
    margin-top: 2rem;
    margin-left: 0; /* Remove margin for smaller screens */
  }

  .form-button {
    width: 100%; /* Full width for smaller screens */
  }
}

/* Media query for mobile screens */
@media screen and (max-width: 480px) {
  .form-options {
    flex-direction: column; /* Stack options vertically on smaller screens */
  }

  .form-options a {
    margin-left: 0; /* Reset margin for smaller screens */
    margin-top: 1rem; /* Add space between options on smaller screens */
  }

  .no-account {
    margin-left: 0; /* Reset margin for smaller screens */
    padding-top: 1rem; /* Add space between text and options on smaller screens */
  }
}
