/* Default styles for larger screens */
.login-page {
  display: flex;
  height: 100vh;
  background-color: white;
}

.image-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #e3def7;
}

.image-half img {
  width: 330px;
  height: 420px;
  /* object-fit: cover; */
}
.form-label {
  font-family: "Montsarrat-SemiBold";
  margin-bottom: 3000rem;
}

.form-half {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  width: 200px;
  max-width: 600px;
  height: fit-content;
  margin: auto;
}
form {
  position: relative;
  width: 100%;
}
.form-button {
  position: relative;
  width: 100%;
  height: 50px;
  background: var(--theme-color);
  color: #eee;
  border-radius: 3px;
  margin-top: 2rem;
}

.login-button {
  margin: 0;
  height: 50px;
  background: var(--theme-color);
  color: #eee;
  border-radius: 3px;
  margin-top: 2rem;
  width: 100%;
}
#remindMe {
  width: 20px;
}
.remindme-label {
  padding-left: 8px;
}
.form-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-options a {
  text-decoration: none;
  color: black;
}
.form-options div {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-options div.check-box {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.no-account {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-family: "Montsarrat-SemiBold";
}

.no-account a {
  text-decoration: none;
}
.img-p {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.logintext {
  margin: 0px;
  font-size: 25px;
  padding-bottom: 3rem;
  font-family: "Montsarrat-SemiBold";
}
.form-content {
  height: 50px;
  margin-bottom: 20px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 5px;
  background-color: white;
  outline: none;
  padding-left: 15px;
  width: 100%;
  margin-top: 10px;
}

/* Media query for tablet screens */
@media screen and (max-width: 768px) {
  .login-page {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .image-half,
  .form-half {
    width: 100%; /* Full width for smaller screens */
    margin: 0; /* Remove margin for smaller screens */
  }

  .image-half img {
    width: 100%; /* Make the image fill the container width */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove margin for smaller screens */
  }

  .form-half {
    padding: 20px;
    margin-top: 2rem;
    margin-left: 0; /* Remove margin for smaller screens */
  }

  .form-button {
    width: 100%; /* Full width for smaller screens */
  }
}

/* Media query for mobile screens */
@media screen and (max-width: 480px) {
  .form-options {
    flex-direction: column; /* Stack options vertically on smaller screens */
  }

  .form-options a {
    margin-left: 0; /* Reset margin for smaller screens */
    margin-top: 1rem; /* Add space between options on smaller screens */
  }

  .no-account {
    margin-left: 0; /* Reset margin for smaller screens */
    padding-top: 1rem; /* Add space between text and options on smaller screens */
  }
}
